<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Proyecto XP</title>
    {% endblock %}

     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% block extra_links%}
        <link href="{% static 'estilos/xp/index-xp.css' %}" rel="stylesheet">
       <!-- <script src="{% static 'scripts-consultas/xp/index-xp.js' %}"></script> -->
       <!-- librerria para crear documentos en pdf -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    {% endblock %}
</head>
<body>

{% block content %}

    <header>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="text-center">
                        <h2><strong>{{xp.proyecto__nombre}}</strong></h2>
                        <font size="3">
                            Inicio del proyeto {{xp.proyecto__f_inicio}} al {{xp.proyecto__f_fin}}
                        </font>
                        <br>
                        <div class="alert alert-info" role="info">
                            Información de la Iteración
                            Inicio {{ciclo.f_inicio}} fin {{ciclo.f_fin}}
                        </div>
                    </div>
                </div>
                <div class="form-gorup">                    
                    {% if integrantes %}
                        <hr>
                        <div class="text-center">
                            <h3>Integrantes</h3>
                        </div>
                        <div class="row" id="mostar_integrantes">
                            {% for i in integrantes %}
                                <div class="col col-sm-auto">
                                    <div class="card-header  border-left-success">
                                        {{ i.first_name }} {{ i.last_name}}
                                        <font size="2">
                                            {{i.rol__nombre}}
                                        </font>
                                    </div>
                                </div>                                
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>         
        </div>
        
    </header>
    <div class="card">
        <div class="card card-header">
            <div class="row">
                <div class="col">
                    {% if requisitos %}
                        <span id="crear_ciclo" valor=0></span>
                    {% else %}                    
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalCiclo">Crear Iteración</a>
                        <span id="crear_ciclo" valor=1></span>
                    {% endif %}
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ModalIntegrante">Agregar miembros</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ModalResumen">Resumen del proyecto</a>
                </div>
            </div>
        </div>
        <div class="row" id="tabla_xp">
            <!-- Historias de usuarios -->
            <div class="col-3">

                <div class="card" style="margin:10px;">
                    <div class="card-header">
                        <span><strong>REQUISITOS</strong></span>
                    </div>
                    <div class="card-body scroll" definir_margenes >
                        {% if requisitos %}
                            {% for r in requisitos %}
                                <div class="card-header border-left-primary" margenes_internos>
                                    <font size="2">
                                        <strong>
                                            Como: {{r.como_usuario}}
                                        </strong>
                                        <br>
                                        <strong>
                                            Quiero: {{r.quiero}}
                                        </strong>
                                        <br>
                                        <strong>
                                            Para: {{r.para}}
                                        </strong>
                                    </font>                                   
                                </div>
                                <br>
                            {% endfor %}
                            <span id="no_requisitos" valor=0></span> 
                        {% else %}
                            No hay requisitos
                            <span id="no_requisitos" valor=1></span> 
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- tareas ependientes  -->
            <div class="col-3">

                <div class="card" style="margin:10px;">
                    <div class="card-header">
                        <span><strong>PENDIENTES</strong></span>
                    </div>
                    <div class="card-body scroll" id="id_t_pendientes" definir_margenes tareas_pendientes={{pendientes}}>
                        {% if pendientes %}
                            {% for p in pendientes %}
                                <div class="card-header border-left-primary" margenes_internos>
                                    <font size="2">
                                        <strong>
                                            {{p.nombre}}                                                                                       
                                        </strong>
                                        <br>
                                            <div class="text-center">
                                                <form method="GET" id="obtener_tarea">
                                                    <input type="hidden" name="obtener" id="obtener" value={{p.id}}>
                                                    <button type="submit" class="btn btn-primary btn-sm">Obtener</button>
                                                </form>                                                
                                            </div> 
                                    </font>                                   
                                </div>
                                <br>
                            {% endfor %}
                            <span id="no_pendientes" valor=0></span> 
                        {% else %}
                            No hay tareas
                            <span id="no_pendientes" valor=1></span>   
                        {% endif %}
                    </div>
                </div>
            </div>
 
            <!-- Listar tareas en proceso -->
            <div class="col-3">
               
                <div class="card" style="margin:10px; ">
                    <div class="card-header">
                        <span><strong>EN PROCESO</strong></span>
                    </div>
                    <div class="card-body" definir_margenes >
                        {% if procesos %}
                            {% for p in procesos %}
                                <div class="card-header border-left-warning" margenes_internos>
                                    <font size="2">
                                        <strong>
                                           {{p.nombre}}
                                        </strong>
                                        <br>
                                        Titular: {{request.user.first_name}} {{request.user.last_name}}
                                        <br>
                                        <div class="text-center">
                                            <form id="confirmar_tarea">
                                                <input type="hidden" name="confirmar" id="confirmar" value={{p.id}}>
                                                <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                            </form>                                                
                                        </div> 
                                    </font>
                                </div>
                                <br>
                            {% endfor %}
                            <span id="no_proceso" valor=0></span> 
                        {% else %}
                            No hay tareas
                            <span id="no_proceso" valor=1></span>                   
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Listar tareas hechas -->
            <div class="col-3">
              
                <div class="card"  style="margin:10px; ">
                    <div class="card-header">
                        <span><strong>TERMINADAS</strong></span>
                    </div>
                    <div class="card-body" definir_margenes >
                        {% if terminadas %}
                            {% for t in terminadas %}
                                <div class="card-header border-left-success" margenes_internos>
                                    <font size="2">
                                        <strong>
                                            {{t.nombre}}
                                        </strong>
                                    </font>
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            No hay tareas
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Espacio para todos los modals  -->
     <!-- The Modal Ciclo -->
  <div class="modal fade" id="ModalCiclo">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Id del proyecto para ser utilizado  -->
        <input id="id_pro" type="hidden" value="{{id_pro}}">
        <!-- Modal Header -->
        <div class="modal-header">
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <button id="crear_ciclo" class="btn">
                            <strong>Crear Ciclo {{id_pro}}</strong>  
                        </button>
                    </li>
                    <li class="navbar-item">
                        <button id="editar_requisitos" class="btn">
                            <strong>Editar requisitos</strong>    
                        </button>
                    </li>
                </ul>
            </nav>
          <button type="button" class="close" id="btn_close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="body_ciclo">
            <div id="alerta"></div>

            <!-- Formulario -->
            <form id="form_ciclo">

                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Fecha de inicio  </label>
                            <input class="form-control" type="date" name="f_inicio" id="f_inicio" min="{{xp_f_inicio}}" max="{{xp_f_fin}}" style="width:40%;" required>
                        </div>
                        <div class="col">
                            <label>Fecha de fin</label>
                            <input class="form-control" type="date" name="f_fin" id="f_fin" max="{{xp_f_fin}}" style="width:40%;" required>        
                        </div>
                    </div>
                </div>
                {% for x in xp %}
                    <input type="hidden" id="id_xp" value={{xp.id}}>
                {% endfor %}

                <div class="form-group">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" id="col1">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>

                            </div>
                                
                        </div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Como</th>
                                    <th>Quiero</th>
                                    <th>Para</th>
                                    <th>Seleccionar</th>
                                    <th>Tareas</th>
                                    <th>Días</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if historias %}
                                    {% for h in historias %}
                                        <tr>
                                            <td>{{ h.como_usuario }}</td>
                                            <td>{{ h.quiero}}</td>
                                            <td>{{ h.para}}</td>
                                            <td>
                                                <input type="checkbox" id="id_historia" value={{h.id}}>
                                            </td>
                                            <td>{{h.tareas}}</td>                                            
                                            <td>
                                                {{h.dias}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div> 
                
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal Ciclo -->

  <!-- The Modal agregar Integrante -->
  <div class="modal fade" id="ModalIntegrante">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Agregar Integrante</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
                <form method="post" id="agregarIntegrante">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" id="email"  name="email" placeholder="ingresar dirección de E-mail" required>
                        <input class="form-control" type="hidden" id="idpro" value={{xp.proyecto__id}}>
                    </div>

                    <div class="form-group">
                        <select name="rol" id="rol" class="form-control"  required>
                            <option id="select_default" disabled selected>Seleccionar rol</option>
                            <option value="Manager" >Manager</option>
                            <option value="Coach" >Coach</option>
                            <option value="Testers">Testers</option>
                            <option value="Programador">Programador</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <div id="error_integrante" style="color:red"></div>
                        <br>
                    </div>
                    <div class="form-group" align="center">
                        <button type="submit" style="width:70%" class="btn btn-primary">Agregar</button>
                    </div>                             
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- end modal Integrante-->

   
        <!-- The Modal Resumen-->
        <div class="modal fade" id="ModalResumen">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <!--
                            <h4 class="modal-title">Resumen del Proyecto</h4>
                        -->

                        <a class="btn btn-primary" href="javascript:pruebaDivAPdf()" class="button">Imprimir</a>

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                 <div id="imprimir">  
                    <!-- Modal body -->
                    <div class="modal-body">
                        {% if resumen_proyecto %}
                            <div align="center">
                                <h2>
                                    <strong>
                                        {{resumen_proyecto.proyecto__nombre}}
                                    </strong>                                 
                                </h2>
                      
                                <font size="4">
                                    Inicio del proyecto {{resumen_proyecto.proyecto__f_inicio}} al {{resumen_proyecto.proyecto__f_fin}}
                                </font>
                            </div>
                       
                        {% endif %}
                        <div class="form-group">
                            <h4><strong>Integrantes</strong></h4>
                            {% if resumen_integrantes %}
                                <div class="row">
                                    {% for integrantes in resumen_integrantes %}
                                        <div class="col col-sm-3">
                                            <div class="card">
                                                <div class="card-header border-left-primary">
                                                    {{ integrantes.usuario__first_name}} {{integrantes.usuario__last_name}}
                                                    <br>
                                                    <font size="2"> {{ integrantes.rol__nombre }}</font>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div>
                               <h4><strong>Listado de requisitos</strong></h4>
                            </div>
                            <div class="card">
                                {% if resumen_historias%}
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Rol solicitante</th>
                                                <th>Petición</th>
                                                <th>Descripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for requisitos in resumen_historias %}
                                                <tr>
                                                    <td>{{requisitos.como_usuario}}</td>
                                                    <td>{{requisitos.quiero}}</td>
                                                    <td>{{requisitos.para}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}

                            </div>
                        </div>
                        <br>

                        <!--Resumen del Ciclo -->
                        <div class="form-group">
                            <div>
                               <h4><strong>Resumen del Ciclo</strong></h4>
                            </div>
                            <ol>
                                {% for c1 in resumen_ciclo %}
                                    
                                    <li>
                                        <h4><strong>Ciclo</strong></h4>
                                    </li>
                                   
                                        Inicio {{c1.f_inicio}} al {{c1.f_fin}}
                                    
                                    <div class="card">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Usuario</th>
                                                    <th>Requisitos</th>
                                                    <th>Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% for ch in resumen_ciclo_historias %}
                                                        {% if c1.id == ch.id_ciclo.id %}
                                                                <tr>
                                                                    <td>{{ch.como_usuario}}</td>
                                                                    <td>{{ch.quiero}}</td>
                                                                    <td>{{ch.para}}</td>
                                                                </tr>
                                                        {% endif %}
                                                    {% endfor %}         
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <font size="3">
                                        <strong>Tareas realizadas en el Ciclo</strong>
                                    </font>
                                    <div class="card">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Desarrollador</th>
                                                    <th>Tarea</th>
                                                    <th>Duración</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tareas in resumen_tareas %}
                                                    {% if c1.id == tareas.id_historia__id_ciclo%}
                                                        <tr>
                                                            <td>{{tareas.usuario__first_name}} {{tareas.usuario__last_name}}</td>
                                                            <td>{{tareas.nombre}}</td>
                                                            <td>{{tareas.n_horas}}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>                                   
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
<!-- Fin de todos los modals  -->



<script>

$(document).on('submit','#obtener_tarea', function(e){
    e.preventDefault();
    var id_tarea = $(this).find('#obtener').val();
    $.ajax({
        type:"GET",
        url: "/xp/obtener",
        context: document.body,
        dataType: 'json',
        data: {
            'id_tarea':id_tarea
        },
        success: function (data) { 
            $('#tabla_xp').html(data['tabla_xp']);
            recarcar();
        }
    });
});
</script>


<script>
// Inicio del Script para el modal de crear ciclo

$(document).ready(function(e) {
    $('#sidebarToggle').click();
});

// obtener tarea 

$(document).on('submit', '#form_ciclo', function (e) {
    e.preventDefault();
    var inicio = $(this).find('#f_inicio').val();
    var fin = $(this).find('#f_fin').val();
    var id_xp = $(this).find('#id_xp').val();
    var selected ="";
    var coma = 0;
    $('#form_ciclo input[type=checkbox]').each(function(){
        if (this.checked) {
            coma++;
            if(coma > 1){
                selected += ','+$(this).val();
            }else{
                selected += $(this).val();
            }     
        }
    });     
    idh = selected;

    $.ajax({
        type: "POST",
        url: "/xp/crearCiclo",
        context: document.body,
        dataType: 'json',
        data: {
            'f_inicio': inicio,
            'f_fin': fin,
            'idh': idh,
            'id_xp':id_xp,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                $('#btn_close').click();
                document.location.reload();
            }
    });
});



$(document).on('input','#f_inicio', function(e){
    var f_inicio = $(this).val();
    document.getElementById('f_fin').min = f_inicio;
});

$(document).on('input','#f_fin', function(e){
    var f_fin = $(this).val();
    var f_inicio = document.getElementById('f_inicio').value;

    alerta1 = '<div class="alert alert-danger alert-dismissible fade show">'+
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    'Primero Ingrese la fecha de inicio'+
                '</div>'

    if(f_inicio == ""){
        document.getElementById('alerta').innerHTML=alerta1;
        document.getElementById('f_fin').value = "dd/mm/aaaa";
        setTimeout(function() { // funcion de Jquery
                $('#alerta').fadeOut(1500);
        },3000);

    }else{
        
        alerta = ' <div class="alert alert-danger alert-dismissible fade show">'+
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    'El Sprint no debe durar mas de 4 semanas'+
                '</div>'
    }
        
});


// fin del script del modal crear ciclo

// Agregar integrantes
$(document).on('submit','#agregarIntegrante',function(e){
    e.preventDefault();
    var email = $(this).find('#email').val();
    var rol = $(this).find('#rol').val();
    var idpro = $(this).find('#idpro').val();

    $.ajax({
        type:"POST",
        url:"/xp/agregar_integrantes",
        context: document.body,
        dataType: 'json',
        data:{
            'email':email,
            'rol':rol,
            'idpro':idpro,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
            if(data['datos'] == "NO"){
                $('#error_integrante').text('EL usuario no existe o ya está en el proyecto');
            }else{
                $('#mostrar_integrantes').html(data['datos_integrantes']);
                $('#email').text('');
                $('#rol').selected;
                window.location.reload();
            }
        }
    });
});

// fin de agregar integrantes

// Confirmar tareas

$(document).on('submit','#confirmar_tarea',function(e){
    e.preventDefault();
    var id_tarea = $(this).find('#confirmar').val();

    $.ajax({
        type:"GET",
        url:"/xp/confirmar",
        context: document.body,
        dataType: 'json',
        data:{
            'id_tarea':id_tarea
        },
        success: function(data){
            $('#tabla_xp').html(data['tabla_xp']);
            recarcar();
        }
    });
});

function recarcar(){
    var r1 = document.getElementById('no_requisitos');
    var r2 = r1.getAttribute('valor');

    var p1 = document.getElementById('no_pendientes');
    var p2 = p1.getAttribute('valor');

    var pr1 = document.getElementById('no_proceso');
    var pr2 = pr1.getAttribute('valor');

    var cc1 = document.getElementById('crear_ciclo');
    var cc2 = cc1.getAttribute('valor');

    if(p2 == 1 && r2 == 1 && pr2 == 1 && cc2 == 0){
        document.location.reload();
    }else{
        console.log('no se puede actualizar');
    }
}

$(document).ready(function(e){
    recarcar();
});

/// manejo de creacion de ciclo y dicion de requisitos

$(document).on('click','#crear_ciclo', ()=>{
   const idpro = document.getElementById('id_pro');
   console.log('dipor', idpro.value);
   $.ajax({
        type: 'GET',
        url: '/xp/show_crear_ciclo',
        context: document.body,
        dataType: 'json',
        data: {
            'id_pro': idpro.value
        },
        success: (data)=>{
            console.log(data['show_crear_ciclo']);
            document.getElementById('body_ciclo').innerHTML = data['show_crear_ciclo'];
        }
    });
});

$(document).on('click','#editar_requisitos', ()=>{
    const idpro = document.getElementById('id_pro');
  
    $.ajax({
        type: 'GET',
        url: '/xp/update_history',
        context: document.body,
        dataType: 'json',
        data: {
            'id_pro': idpro.value
        },
        success: (data)=>{
            document.getElementById('body_ciclo').innerHTML = data['update_history'];
            disable_historias(true);
            clear_historia();
        }
    });
});


// agregar historias
$(document).on('click','#agregar_historias', ()=>{
    let titulo_historia = document.getElementById('titulo_historia');
    let btn = document.getElementById('guardar_historia');
    btn.innerText = "Agregar";
    titulo_historia.innerText = "Agregar";
    disable_historias(false);
});

function clear_historia(){
    let como_usuario = document.getElementById('como_usuario');
    let quiero = document.getElementById('quiero');
    let para = document.getElementById('para');
    let btn = document.getElementById('guardar_historia');   

    como_usuario.innerText = "";
    quiero.disainnerText = "";
    para.innerText = "";
    btn.innerText = "Guardar"; 
}

$(document).on('submit','#form_historia', (e)=>{
    e.preventDefault();
    const idpro = document.getElementById('id_pro');
    let como_usuario = document.getElementById('como_usuario');
    let quiero = document.getElementById('quiero');
    let para = document.getElementById('para');
    let btn = document.getElementById('guardar_historia');
    console.log('usuario ', como_usuario.value);
    console.log('requisito', quiero.value);
    console.log('para', para.value);
    console.log('boton', btn.innerText);

   
    if(btn.innerText == "Agregar"){
        console.log("entro a agregar");
        $.ajax({
            type: 'POST',
            url: '/xp/add_history_ciclo',
            context: document.body,
            dataType: 'json',
            data: {
                'id_pro': idpro.value,
                'como_usuario': como_usuario.value,
                'quiero': quiero.value,
                'para': para.value,
               
                'estado': false,
                'get': false,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: (data)=>{
               if(data['datos'] == "datos"){
                   window.location.reload();
                }else{
                    document.getElementById('body_ciclo').innerHTML = data['update_history'];
                    disable_historias(true);
                    clear_historia();
                }
            }
        });
    }else{
        console.log("entro a editar");
        let id_his = $('#id_historia').val();
        console.log('id de la historia: ', id_his);

        $.ajax({
            type: 'POST',
            url: '/xp/update_history_ciclo',
            context: document.body,
            dataType: 'json',
            data: {
                'id_pro': idpro.value,
                'como_usuario': como_usuario.value,
                'quiero': quiero.value,
                'para': para.value,
                'id_his': id_his,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: (data)=>{
               if(data['datos'] == "datos"){
                   window.location.reload();
                }else{
                    document.getElementById('body_ciclo').innerHTML = data['update_history'];
                    disable_historias(true);
                    clear_historia();
                }
            }
        });
    }

   
});

$(document).on('click','#editar_historia',function(){
    let id_his = $(this).attr('data-valor');
    let usuario = $(this).parents("tr").find("td")[0].innerText;
    let quiero = $(this).parents("tr").find("td")[1].innerText;
    let para = $(this).parents("tr").find("td")[2].innerText;

    clear_historia();
    $('#como_usuario').val(usuario);
    $('#quiero').val(quiero);
    $('#para').val(para);
    $('#id_historia').val(id_his);
    let titulo_historia = document.getElementById('titulo_historia');
    let btn = document.getElementById('guardar_historia');
    btn.innerText = "Editar";
    titulo_historia.innerText = "Editar";
    disable_historias(false);
});

function disable_historias(valor){
    let como_usuario = document.getElementById('como_usuario');
    let quiero = document.getElementById('quiero');
    let para = document.getElementById('para');
    let btn = document.getElementById('guardar_historia');
    valor == null ? false : valor;

    como_usuario.disabled = valor;
    quiero.disabled = valor;
    para.disabled = valor;
    btn.disabled = valor;   
}

</script>

 <!-- Script para converitr archivos en pdf -->
 <script>
    function pruebaDivAPdf() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        source = $('#imprimir')[0];

        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true;
            }
        };
        margins = {
            top: 60,
            bottom: 40,
            left: 80,
            width: 600
        };

        pdf.fromHTML(
            source, 
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, 
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                pdf.save('Informe.pdf');
            }, margins
        );
    }
</script>


{% endblock %}

</body>
</html>


