{% load static %}
<html lang="en">

<head>
  <!DOCTYPE html>
  {% block extrahead %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block title%}
  <title>Inicio</title>
  {% endblock %}

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- jQuery -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  {% endblock %}
  {% block extra_links%}
  {% endblock %}
</head>

<body id="page-top">
  {% block header %}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/usuarios/index">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-dice-d20"></i>
        </div>
        <div class="sidebar-brand-text mx-3">WAY</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/usuarios/index">
          <i class="fas fa-fw fa-home"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interfaz
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-folder"></i>
          <span>Proyectos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Lista de proyectos:</h6>
            {% if proyecto %}
            {% for p in proyecto %}
            <a class="collapse-item" href="{% url 'proyecto:index' p.id %}">
              <!-- <i class="fas fa-fw fa-folder"></i>-->
              <p class="card-text">{{p.nombre}}</p>
            </a>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/usuarios/tareas">
          <i class="fas fa-fw fa-folder"></i>
          <span>Tareas</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                {% block NombreUsuario %}
                  {{user.first_name}} {{user.last_name}} 
                {% endblock %}
              </span>
              <!--<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
              {% block ImagenPerfil %}
              <!--<img class="img-profile rounded-circle" src="{% static form.photo.url %}">-->
              {% if request.session.photo %}
                <img class="circol" style='width:40px;height: 40px;color:blue; border-radius: 80%;' src="{{request.session.photo}}">
              {% else %}
                <div class="rounded-circle">
                  <i class='far fa-user' style='font-size:24px;color:blue'></i>
                  <img  style='font-size:24px;color:blue' src="{{user__usuario_celular}}">
                </div>
              {% endif %}
             {% endblock %}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/usuarios/perfil">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Perfil
              </a>
              <!--
                            <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                            </a>
                            -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/usuarios/logout" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Cerrar sesión
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <!--Contenido de la pagina-->
      <div class="container-fluid">
        <!-- Page Heading -->
        <!-- Content Row -->
        {% block content %}
        {% endblock %}
      </div>
      <!-- /.container-fluid -->
      <!-- End of Main Content -->

      <!-- Footer -->
      {% block footer %}
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; WAY 2019 - Desarrollado con Django</span>
          </div>
        </div>
      </footer>
      {% endblock %}
      <!-- End of Footer -->

      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

  </div>
  {% endblock %}


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  {% block extrajs %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Desea cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleccione "Cerrar sesión" para salir del sistema.</div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/usuarios/logout">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-m font-weight-bold text-success text-uppercase mb-1" style="text-align: center">
            <b>Daily Meeting </b><i class="fas fa-mug-hot"></i>
          </h2>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form class="user">
          <div class="row">
            <div class="col-xl-4 col-md-6 mb-3">
              <div class="col mr-4">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-1">
                  ¿Que hiciste ayer?
                </div>
                <br>
                <textarea class="form-control " cols="20" rows="5"></textarea>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-3">
              <div class="col mr-4">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-1">
                  ¿Que haras hoy?
                </div>
                <br>
                <textarea class="form-control " cols="20" rows="5"></textarea>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-3">
              <div class="row no-gutters align-items-center">
                <div class="col mr-4">
                  <div class="text-m font-weight-bold text-primary text-uppercase mb-1">
                    ¿Que problemas has tenido?
                  </div>
                  <textarea class="form-control " cols="20" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-success" href="#">
            Guardar
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <script src="{% static 'jquery/jquery-3.4.0.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>



  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  {% endblock %}
</body>

</html>