{% extends 'base/base.html'%}
{% load static %}
{% block content %}
<script>
    function seleccionar(id, requisito) {
        //alert(requisito);
        document.getElementById('id_pbacklog').value = id;
        document.getElementById('textRequisito').innerText = requisito;
    }

    /*
    var id_epi = "";

      function get_id(id){
        id_epi = id;
       
      }

      console.log('id de la epica' + id_epi); */
</script>

{% block title %}
        <title>Registro de requisitos</title>
{% endblock %}
{% block extra_links%}
    <!-- <link href="{% static 'estilos/scrum/crear_historias.css' %}" rel="stylesheet">-->
    <link href="/static/estilos/scrum/crear_historias.css" rel="stylesheet">
    <!--<script type="text/javascript" src="/estilos/scrum/scripts/crear_epicas.js"></script>-->
    {% endblock %}

<div class="container">
    <div class="form-group" informacion >
        <div class="text-center">
            <a href="#" class="btn btn-user btn-success" data-toggle="modal" data-target="#ModalAyuda" margen>¿Que es Scrum?</a>
            <a href="#" class="btn btn-user btn-success" data-toggle="modal" data-target="#ModalAyudaEpica" margen>¿Que son las Epicas?</a>
            <a href="#" class="btn btn-user btn-success" data-toggle="modal" data-target="#ModalAyudaHistoria" margen>¿Que son las Historias de Usuario?</a>
        </div>
    </div>
    <br>
    <h2 style="text-align:center"><strong>Definición de Épicas</strong></h2>
    <br>
    <form method="POST">
        {% csrf_token %}

        <input type="hidden" name="id_scrum" value={{scrum}}>
        <input type="hidden" name="estado" value="False">
        <input type="hidden" name="confirmar" value="False">   
            
        <div class="card" id="panel" style="padding: 10px;">
            <div calss="form-group">
                <input class="form-control" style="width: 100%;" type="text" name="nombre" id="nombre" placeholder="Como Usuario">           
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control" name="quiero" placeholder="Quiero"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="para" placeholder="Para"></textarea>
            </div>
            <div class="text-center">
                <button  type="submit" class="btn btn-primary" id="guardar" style="width:50%;" > Guardar </button>
            </div>
        </div>
    </form>
</div>
<br>

<div class="container">
     {% if pbacklog %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <strong class="card-title">Listado de Épicas</strong>
                    </div>
                    <div class="col" align="right">
                       <a class="btn btn-success" title="Listado de Historias de usuario" href="{% url 'scrum:historia_list' %}">Continuar</a>
                    </div>
                </div>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Como</th>
                            <th>Quiero</th>
                            <th>Para</th>
                            <th>H.U</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pbacklog %}
                            <tr>
                                <td>{{ p.nombre }}</td>
                                <td>{{ p.quiero }}</td>
                                <td>{{ p.para }}</td>
                                <td>{{ p.hu }}</td>
                                <td>
                                    <!--datos para editar -->
                                    <input type="hidden" id="nombre_e" value="{{p.nombre}}" >
                                    <input type="hidden" id="quiero_e" value="{{p.nombre}}" >
                                    <input type="hidden" id="para_e" value="{{p.nombre}}">
                                    <input type="hidden" id="id_epica" value="{{p.id}}">
                                    <button class="btn btn-primary" title="Historias de usuario" data-toggle="modal" data-target="#myModal" onclick="seleccionar('{{p.id}}','{{p.quiero}}')">
                                        H.U
                                    </button>
                                    <button class="btn btn-success" id="editar_epica" title="Editar" data-toggle="modal" data-target="#EditarEpica" epica="{{p.id}}" >
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                      </svg>
                                    </button>
                                    <button class="btn btn-danger" title="Eliminar" data-toggle="modal"  data-target="#confirmDeleteEpica">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                          </svg>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
     {% else %}
            <h3>No hay épicas creadas</h3>
    {% endif %}
</div>
    <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Historias de Usuarios</h4>


          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="alert alert-info" role="info">
                <h6 style="text-align:center;">
                    <font >Historia de Usuario</font>
                </h6>
                <h5 style="text-align:center">
                    <strong><span id="textRequisito"></span></strong>
                </h5>
            </div>
            <div class="container">
                <form method="POST" action="/scrum/historia_crear">
                    {% csrf_token %}
                    <div class="form-group">
                        <label >
                            Como usuario
                            <i class="fas fa-question-circle" title="Escriba el tipo de usuario" style="cursor:pointer"></i>
                        </label>
                        <input class="form-control" type="text" name="como_usuario" placeholder="Rol solicitante" required>
                    </div>
                    <div class="form-group">
                        <label >
                            Quiero
                            <i class="fas fa-question-circle" title="Funcionalidad que solicita el usuario" style="cursor:pointer"></i>
                        </label>
                        <input class="form-control" type="text" name="quiero" placeholder="Definición del requisito" required>
                    </div>
                    <div class="form-group">
                        <label >Para
                            <i class="fas fa-question-circle"title="Propósito del requisito" style="cursor:pointer"></i>
                        </label>
                        <textarea class="form-control" name="para" rows="3" placeholder="Objetivo del requisito" required></textarea>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="id_pbacklog" id="id_pbacklog" >
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="estado" value="False">
                        <input type="hidden" name="confirmar" value="False">
                    </div>
                   <div class="row">
                        <div class="col" align="center">
                            <button type="submit" style="width:80%;" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col" align="center">
                            <button type="button" style="width:80%;" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- end modal -->

<!-- The Modal Editar Epica -->
    <div class="modal fade" id="EditarEpica">
        <div class="modal-dialog">
          <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar épica</h4>
    
    
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
               
                <div class="container">
                    <form id="editarEpica">
                        {% csrf_token %}
                        <div class="form-group">
                            <label >
                                Como usuario
                                <i class="fas fa-question-circle" title="Escriba el tipo de usuario" style="cursor:pointer"></i>
                            </label>
                            <input class="form-control" type="text" id="como_usuario" placeholder="Rol solicitante" required>
                        </div>
                        <div class="form-group">
                            <label >
                                Quiero
                                <i class="fas fa-question-circle" title="Funcionalidad que solicita el usuario" style="cursor:pointer"></i>
                            </label>
                            <input class="form-control" type="text" id="quiero" placeholder="Definición del requisito" required>
                        </div>
                        <div class="form-group">
                            <label >Para
                                <i class="fas fa-question-circle"title="Propósito del requisito" style="cursor:pointer"></i>
                            </label>
                            <textarea class="form-control" id="para" rows="3" placeholder="Objetivo del requisito" required></textarea>
                        </div>
    
                        <div class="form-group">
                            <input type="hidden" name="id_pbacklog" id="id_epica" >
                        </div>
    
                       <div class="row">
                            <div class="col" align="center">
                                <button type="submit" style="width:80%;" class="btn btn-primary">Guardar</button>
                            </div>
                            <div class="col" align="center">
                                <button type="button" style="width:80%;" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- end modal -->

  <!-- The Modal Ayuda scrum -->
  <div class="modal fade" id="ModalAyuda">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">¿Que es Scrum?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="alert alert-info" role="info">
              <font>
                Scrum es una metodología ágil
                muy utilizada en el desarrollo de software,
                la cual es un conjunto de buenas prácticas para 
                trabajar colaborativamente, en equipo, 
                y obtener el mejor resultado posible de un proyecto
              </font>
            </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- The Modal Ayuda  Epicas -->
  <div class="modal fade" id="ModalAyudaEpica">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">¿Que es una Épica?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body align-center">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="info">
                        <p>
                          Una épica es una historia de usuario sin refinar, 
                          es decir, es un requisito muy grande que se puede desglosar
                          en historias de usuario más pequeñas
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p style="justify-content: safe;">
                                <strong>Ejemplo</strong>
                                <br>
                                La Universidad Cesmag, quiere un aplicativo móvil para que los estudiantes, 
                                directivos y visitantes puedan visualizar un mapa de la misma, detallando aulas,
                                oficinas, laboratorios y auditorios. A continuación se define una épica con sus
                                respectivas historias de usuarios. 
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
            <br>
            <div class="card" style="padding: 10px;">
                <div>
                    <div class="card">
                        <table class="table table-sm center" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>EP. #1</th>    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Descripción</strong></td>
                                    <td>
                                        <div class="container">                                        
                                            <div class="row"><strong>Como:</strong> Usuario</div>
                                            <div class="row"><strong>Quiero:</strong> Encontrar un aula, oficina o auditorio</div>
                                            <div class="row"><strong>Para:</strong> Conocer la ubicación del lugar</div>                                        
                                        </div>                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row"> 
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card" >
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #1</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td>         
                                            <div class="container">                                  
                                                <div class="row"><strong>Como:</strong>Usuario</div>
                                                <div class="row"><strong>Quiero:</strong> Encontrar un aula de clases mediante mi teléfono</div>
                                                <div class="row"><strong>Para:</strong> Conocer la ubicación del aula</div>   
                                            </div>                                                                               
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card">
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #2</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td>  
                                            <div class="container">                                         
                                            <div class="row"><strong>Como:</strong> Usuario</div>
                                            <div class="row"><strong>Quiero:</strong> Encontrar una oficina mediante mi teléfono</div>
                                            <div class="row"><strong>Para:</strong> Conocer la ubicación de la oficna</div>                                                                                  
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>   
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card" >
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #3</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td>        
                                            <div class="container">                                   
                                                <div class="row"><strong>Como:</strong> Usuario</div>
                                                <div class="row"><strong>Quiero:</strong> Encontrar un auditorio mediante mi teléfono</div>
                                                <div class="row"><strong>Para:</strong> Conocer la ubicación del auditorio</div>                                                                                  
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>  
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card" >
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #4</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td>
                                            <div class="container">                                      
                                                <div class="row"><strong>Como:</strong>Usuario</div>
                                                <div class="row"><strong>Quiero:</strong> Visualizar fácilmente el mapa de guía</div>
                                                <div class="row"><strong>Para:</strong> Encontrar los lugares de manera fácil </div>                                                                                  
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card">
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #5</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td>    
                                            <div class="container">                                       
                                                <div class="row"><strong>Como:</strong> Usuario</div>
                                                <div class="row"><strong>Quiero:</strong> Encontrar la señalización de forma fácil</div>
                                                <div class="row"><strong>Para:</strong> Lograr visualizar el mapa</div> 
                                            </div>                                                                                 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>  
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card">
                            <table class="table table-sm center" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Historia #6</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Descripción</strong></td>
                                        <td> 
                                            <div class="container">
                                                <div class="row"><strong>Como:</strong> Usuario</div>
                                                <div class="row"><strong>Quiero:</strong> Realizar una búsqueda de un lugar especifico</div>
                                                <div class="row"><strong>Para:</strong> Facilitar la localización</div> 
                                            </div>                                
                                                                                                                             
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                   
                </div>
            </div>         
        </div>
      </div>
    </div> 
  </div>

  <!-- The Modal Ayuda Historias de usuario -->
  <div class="modal fade" id="ModalAyudaHistoria">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">¿Que son las Historias de Usuario?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="alert alert-info" role="info">
              <font>
                Una historia de usuario es la descripción 
                de una funcionalidad que se debe incorporar
                a un sistema de software y cuya implementación
                aporta valor al cliente
              </font>
            </div>
        </div>
      </div>
    </div> 
  </div>


<!-- Modal confirmar eliminar historia -->
<div class="modal fade" id="confirmDeleteEpica">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Eliminar Épica</strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="texto">
                    Si, elimina esta Épica, tenga en cuenta que
                    se eliminaran las historias de usuarios que hacen parte de ella.
                </p>
            </div>
            <div class="modal-footer">
                <div class="container" align="center" id="confirmar">
                    <button style="width: 60%;" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal delete history -->
  <script>
      
      $(document).on('click','#editar_epica',function(e){
        var nombre = $(this).parents("tr").find("td")[0].innerText;
        var quiero = $(this).parents("tr").find("td")[1].innerText;
        var para = $(this).parents("tr").find("td")[2].innerText;

        var id_epicass = $(this).attr('epica');
        document.getElementById('id_epica').value = id_epicass;

        console.log(id_epicass);
        document.getElementById('como_usuario').value = nombre;
        document.getElementById('quiero').value = quiero;
        document.getElementById('para').value = para;            
      });

      $(document).on('submit','#editarEpica',function(e){
        e.preventDefault();
        var nombre = $(this).find('#como_usuario').val();
        var quiero = $(this).find('#quiero').val();
        var para = $(this).find('#para').val();
        var idp = document.getElementById('id_epica').value;
     
        $.ajax({
            type: "POST",
            url: "/scrum/update_epica",
            context: document.body,
            dataType: 'json',
            data:{
                'nombre':nombre,
                'quiero': quiero,
                'para':para,
                'id_pbacklog':idp,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(data){
                      window.location.reload();
                    }
        });
      });

  </script>

{% endblock %}