<br>
    <center>
        <h3>Tareas</h3>
    </center>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-success" id="agregar_historias" idh = "">Agregar historias</button>
            </div>
            <div class="card">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Como</th>
                            <th>Quiero</th>
                            <th>Para</th>
                            <th>Tareas</th>
                            <th>Días</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if historias %}
                            {% for h in historias %}
                                <tr>
                                    <td>{{ h.como_usuario }}</td>
                                    <td>{{ h.quiero}}</td>
                                    <td>{{ h.para}}</td>
                                    <td>{{h.tareas}}</td>                                            
                                    <td>
                                        {{h.dias}}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card" id="editar_form" style="padding:10px;">
            <center>
                <h5 id="titulo_historia"></h5>
            </center>
            
            <form id="form_historia">
                {% csrf_token %}
                <div class="form-group">
                    <label>Como usuario</label>
                    <input class="form-control" id="como_usuario" placeholder="Usuario solicitante" required>
                    
                    <label>Quiero</label>
                    <input class="form-control" id="quiero" placeholder="Petición del usuario" required>
                    <label>Para</label>
                    <input class="form-control" id="para" placeholder="Objetivo del requisito" required>                   
                </div>
                <center>
                    <button id="guardar_historia" class="btn btn-primary"
                        style="width: 60%; align-self:start;">Guardar</button>
                </center>
            </form>
        </div>
    </div>
</div>